

<div class="example-container mat-elevation-z8">


  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="accent" [routerLink]="['/products']"><mat-icon>list</mat-icon></a>
  </div>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{product.productType}}</h2></mat-card-title>
       <mat-card-subtitle>Model :{{product.Model}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Product Make:</dt>
        <dd>{{product.Make}}</dd>
      </dl>
    </mat-card-content>


  </mat-card>


</div>


